<h1>Coupon:</h1>

  Store: <h2><%= @coupon.store %></h2>
  Code: <h2><%= @coupon.coupon_code %></h2>
  <br>
  <a href="/coupons">View all coupons</a>
<!-- <h4>link_to edit, </h4> -->
<!-- <h4>delete</h4> -->
